# Scripts
.vscode
.gitignore

# backend
backend/node_modules
backend/.env
backend/package-lock.json

# view
view/node_modules
view/node_modules_old
view/.env
view/.prettierrc
view/package-lock.json
view/.eslintrcf
