.shadow-box {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 16px;
    font-size: 18px;
}


.formDate{
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
}

.remarkNtax{
    margin-top: 5%;
    bottom: 0;
    width: 100%;
    cursor: cell;
}

.table td:first-child {
    font-weight: 600;
    font-style: oblique;
    text-align: left;
}
.table td:last-child {
    text-orientation: auto;
    text-align-last: right;
    text-align: right;
    justify-content: end;
}

.td_invoice {
    border-bottom: 1px dashed #030655;
}
